<%
    table_key = obj.model_name.to_s.underscore.pluralize.to_sym
%>

<% if @counts[table_key] > 0 %>

    <section class="items_table decorated_wrap change_on_smallscreen">

        <div class="caption">
            <span class="caption_name">
                <%= obj.model_name.human %>
            </span>
            <span class="stats">
               <%= visible_results_stats(
                    obj.length,
                    params["#{table_key.to_s}_page"].to_i,
                    params[:per].to_i
                ).html_safe %>
            </span>
        </div>

        <div class="content">

            <table
                class="items_table rows_colored with_efects"
                id="<%= table_key.to_s %>"
            >

                <thead>
                    <tr>
                        <%= items_table_head(
                            fields,
                            obj.model
                        ) %>
                    </tr>
                </thead>

                <tbody>
                    <% obj.each do |row| %>
                        <%
                            if defined?(options)
                                tr_class = ""
                                if o = options[0].try(:[], :row_danger)
                                    if row.try(o.keys.first) == o.values.first
                                        tr_class += "danger"
                                    end
                                end
                            end
                        %>
                        <tr class="<%= tr_class %>">
                             <%= items_table_fields(row, fields) %>
                        </tr>
                    <% end %>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="10">
                            <%= paginate(
                                obj,
                                remote: true,
                                param_name: "#{table_key.to_s}_page",
                                params: {
                                    norender_default_jserb: true,
                                    render_part: "#{table_key.to_s}"
                                }
                            ) %>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </div>

    </section>

<% end %>
