<% num_of_results = obj.total_count %>

<% if num_of_results > 0 %>

    <section class="decorated_wrap">

        <div class="caption">
            <%= obj.model_name.human %>
        </div>

        <div class="content">

            <table
                class="items_table rows_colored with_efects"
                id="<%= obj.model_name.to_s.underscore.pluralize %>"
            >

                <thead>
                    <tr>
                        <%= items_table_head(
                            fields,
                            obj.model
                        ) %>
                    </tr>
                </thead>

                <tbody>
                    <% obj.each do |row| %>
                        <tr>
                             <%= items_table_fields(row, fields) %>
                        </tr>
                    <% end %>
                </tbody>

                <tfoot>
                    <tr>
                        <td>

                            <b><%= num_of_results %></b>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </div>

    </section>

<% end %>
