
<% content_for :login do %>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		<section class="decorated_wrap shrinked">

			<table class="for_forms">

				<caption>
					<%= t 'user.signup' %>
				</caption>

				<tbody>

					<tr>
						<td>
							<%= f.label :email %><br />
		   					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :password %>
		    				<% if @minimum_password_length %>
		    					<em>&nbsp;(<%= @minimum_password_length %> characters minimum)&nbsp;</em>
		    				<% end %><br />
		    				<%= f.password_field :password, autocomplete: "off" %>
						</td>
					</tr>
					<% if devise_mapping.rememberable? -%>
						<tr>
							<td>
		    					<%= f.label :password_confirmation %><br />
		    					<%= f.password_field :password_confirmation, autocomplete: "off" %>
							</td>
						</tr>
					<% end -%>
					<tr>
						<td class="buttons">
							<%= f.submit t('user.signup_short') %>
						</td>
					</tr>

				</tbody>

			</table>

		</section>

		<% if !(err = devise_error_messages!).blank? %>
			
			<section class="decorated_wrap shrinked">

				<table class="for_forms no_results">

					<caption>
						Chyba
					</caption>

					<tbody>

						<tr>
							<td>
								<%= err %>
							</td>
						</tr>

					<tfoot>
						<tr>
							<td>
								&nbsp;
							</td>
						</tr>
					</tfoot>

				</table>

			</section>

		<% end %>

	<% end %>

	<%= render "devise/shared/links" %>

<% end %>


