
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @local_taric do |t| %>

		<article class="decorated_wrap shrinked">

			<div>
				<%= t.label :kncode %>
				<%= t.text_field :kncode %>
				<%= t.errors :kncode %>
			</div>

			<div>
				<%= t.label :description %>
				<%= t.text_field :description %>
				<%= t.errors :description %>
			</div>

			<div>
				<%= t.label :additional_info %>
				<%= t.text_field :additional_info %>
			</div>

		</article>

		<article class="decorated_wrap shrinked">

			<div>
				<%= t.submit %>
			</div>

		</article>

	<% end %>

</section>