<%= form_tag(public_send("do_export_#{controller_name}_path"), target: '_blank', method: :post) do |f| %>

    <%= hidden_field_tag 'head', head.to_json %>

    <div class="decorated_wrap shrinked">

        <table class="with_controls export">

            <caption>Export</caption>

            <thead></thead>

            <tbody>
                <% fields_to_select.each do |field| %>

                    <% if field.instance_of? Hash %>

                        <% k = field.keys.first %>
                        <tr>
                            <td colspan="3" class="subtable">
                                <table>
                                    <thead>
                                        <tr><th><%= t("activerecord.models.#{k.to_s.singularize}") %></th></tr>
                                    </thead>
                                    <% field[k].each do |subfield| %>
                                        <%= render(
                                            'layouts/shared/export/export_properties_field',
                                            mdl: "#{k.to_s.singularize}",
                                            field: subfield,
                                            name: "[#{k.to_s}][#{subfield.to_s}]"
                                        ) %>
                                    <% end %>
                                </table>
                            </td>
                        </tr>

                    <% else %>

                        <%= render(
                            'layouts/shared/export/export_properties_field',
                            mdl: "#{controller_name.singularize}",
                            field: field,
                            name: "[#{field.to_s}]"
                        ) %>

                    <% end %>
                    
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="10">
                        <input type="submit" class="button" value="Excel tabuľka" name="submit_excel">
                        <input type="submit" class="button" value="HTML" name="submit_html">
                        <%= link_to "Storno", { action: :index, controller: controller_name }, class: 'button' %>
                    </td>
                </tr>
            </tfoot>

        </table>

    </div>
<% end %>
