<%
html_class_main = "items_table decorated_wrap"
html_class_table = "items rows_colored with_efects"
editable = true

if !defined? object
	object = @result
end

cn = controller_name.to_s
case action_name
	when 'index', 'administrative', 'end_administrative', 'search'
		
	else
		cn += "-#{object.first.class.name.underscore}"
	end 
html_class_table += " no_results" if (object.nil?||object.length == 0) 

if defined? options
	if o = options[0].try(:[], :html_options) 
		html_class_main += " #{o[:main_class]}" if o.try(:[], :main_class)
		html_class_table += " #{o[:table_class]}" if o.try(:[], :table_class)
	end
	if o = options[0].try(:[], :change_on_smallscreen)
		html_class_main += " change_on_smallscreen"
	end
	editable = false if options[0].try(:[], :not_editable)
end
%>

<section class="<%= html_class_main %>">

	<table class="<%= html_class_table %>" id="<%= cn %>">

	<% if !object.nil? %>

		<% if defined? options %>

			<% if o = options[0][:caption] %>

				<caption>
					<%= object.model.model_name.human if o == true %>
					<%= o if o != true %>
				</caption>

			<% end %>

			<% if o = options[0][:head] %>

				<thead>
					<tr>
						<%= items_table_head(fields, object.model) %>
					</tr>
				</thead>

			<% end %>

		<% end %>

		<tbody>
			
			<% object.each do |item| %>

				<tr>
					<%= items_table_fields(item, fields) %>
					<% if @MEM.send("is_in_administrative_#{controller_name.singularize.underscore}")&&editable %>
						<%= items_table_row_administrative_buttons(item) %>
					<% end %>
				</tr>

			<% end %>

			<% if defined? errors %>

				<%= items_table_errors_handler(errors[0], object) %>

			<% end %>

		</tbody>

		<% if defined? options %>

			<% if options[0][:foot] %>

				<tfoot>

					<tr>
						<%= render('layouts/shared/items_table/foot',
							obj: object, 
							fields: fields
						) %>
					</tr>
					
				</tfoot>

			<% end %>

		<% end %>

	<% else %>

		<%= render 'layouts/shared/items_table/no_items' %>

	<% end %>

	</table>

</section>


