<%
html_class_main = "items_table decorated_wrap"
html_class_table = "items rows_colored with_efects"
editable = true
show_administrative_action = true
cn = controller_name.to_s

if !defined? object
	object = @result
end

case action_name
when 'index', 'administrative', 'end_administrative', 'search', 'destroy', 'delete'
 	###
else
	cn += "-#{object.first.class.name.underscore}"
end
if (object.nil?||object.length == 0)
	html_class_table += (action_name == 'show') ? " no_assocs" : " no_results"
end

if defined? options
	if o = options[0].try(:[], :html_options)
		html_class_main += " #{o[:main_class]}" if o.try(:[], :main_class)
		html_class_table += " #{o[:table_class]}" if o.try(:[], :table_class)
		cn = "#{o[:id]}" if o.try(:[], :id)
	end
	if o = options[0].try(:[], :change_on_smallscreen)
		html_class_main += " change_on_smallscreen"
	end
	restrict_to_admin = true if options[0].try(:[], :admin_restricted_actions)
	show_administrative_action = (restrict_to_admin == false)||(current_user.email == "admin@admin.hsdb")
	editable = false if options[0].try(:[], :not_editable)
end

is_in_administrative = @MEM.send("is_in_administrative_#{controller_name.singularize.underscore}")&&editable
%>


<section class="<%= html_class_main %>">

	<table class="<%= html_class_table %>" id="<%= cn %>">

		<% if defined? options %>

			<% if o = options[0][:caption] %>

				<caption>
					<%= object.model.model_name.human if o == true %>
					<%= o if o != true %>
				</caption>

			<% end %>

			<% if o = options[0][:head] %>

				<thead>
					<tr>
						<%# if (span = o.try(:[], :span)) %>
							<%#= items_table_head(fields, object.model, span) %>
						<%# else %>
							<% logger @result %>
							<% logger object %>
							<%= items_table_head(fields, object.model) %>
						<%# end %>
						<% if is_in_administrative %>
							<th class="edit_delete_columns_fillup" colspan="2">&nbsp;</th>
						<% end %>
					</tr>
				</thead>

			<% end %>

		<% end %>

		<tbody>

			<% if !object.nil? && !object.blank? %>

				<% object.each do |item| %>

					<% 
					tr_class=""
					if o = options[0].try(:[], :row_danger) 
						if item.try(o.keys.first) == o.values.first
							tr_class = "danger"
						end
					end
					%>

					<tr class="<%= tr_class %>">
						<%= items_table_fields(item, fields) %>
						<% if is_in_administrative %>
							<%= items_table_row_administrative_buttons(item) %>
						<% end %>
					</tr>

				<% end %>

				<%= items_table_errors_handler(errors[0], object) if defined? errors %>

			<% elsif !object.nil? && object.blank? %>

				<% if action_name != 'show' %>

					<% if object.model.count > 0 %>
						<%=
						render(
							"#{controller_name}/shared/search/no_results",
						) rescue
						render(
							"layouts/shared/items_table/no_results",
						) %>
					<% else %>
						<%= render(
							'layouts/shared/items_table/no_items',
							html_class_main: html_class_main,
							html_class_table: html_class_table,
							cn: cn
						) %>
					<% end %>

				<% else %>

					<%= render(
						'layouts/shared/items_table/no_assoc',
						html_class_main: html_class_main,
						html_class_table: html_class_table,
						cn: cn
					) %>

				<% end %>

			<% end %>

		</tbody>

		<% if defined? options %>

			<% if options[0][:foot] %>

				<tfoot>

					<tr>
						<%= render('layouts/shared/items_table/foot',
							obj: object,
							fields: fields
						) %>
					</tr>

				</tfoot>

			<% end %>

		<% end %>

	</table>

</section>
