<%
cn = controller_name.to_s
html_class_main = "items_table decorated_wrap"
html_class_table = "items rows_colored with_efects"

if !defined? object
	object = @result
end
if defined? options
	if o = options[0].try(:[], :html_options) 
		html_class_main += " #{o[:main_class]}" if o.try(:[], :main_class)
		html_class_table += " #{o[:table_class]}" if o.try(:[], :table_class)
	end
end
%>

<section class="<%= html_class_main %>">

	<table class="<%= html_class_table %>" id="<%= cn %>">

		<% if defined? options %>

			<% if o = options[0][:head] %>

				<thead>

					<% if o.try(:[], :caption) %>
						<tr>
							<th colspan="99">
								<%= object.model.model_name.human %>
							</th>
						</tr>
					<% end %>

					<tr>
						<%#= render('layouts/shared/items_table/head',
							obj: object.model.name.constantize, 
							fields: fields
						) %>

						<%= items_table_head(object.model.name.constantize, fields) %>
					</tr>
					
				</thead>

			<% end %>

		<% end %>

		<tbody>
			
			<% object.each do |item| %>

				<tr>
					
					<%#= render('layouts/shared/items_table/field', obj: item, fields: fields) %>

					<%= items_table_fields(item, fields) %>

				</tr>

			<% end %>

			<% if defined? errors %>

				<%= items_table_errors_handler(errors[0], object) %>

			<% end %>

		</tbody>

		<% if defined? options %>

			<% if options[0][:foot] %>

				<tfoot>

					<tr>
						<%= render('layouts/shared/items_table/foot',
							obj: object, 
							fields: fields
						) %>
					</tr>
					
				</tfoot>

			<% end %>

		<% end %>

	</table>

</section>


