<% 
	single = instance_variable_get("@#{assoc.to_s.singularize}")
	coll = instance_variable_get("@#{assoc.to_s}")

	## be always singular due to js api targetting elements
	if (defined? id)&&(!id.blank?)
		html_id = id
	else
		html_id = "#{assoc.to_s.singularize}_select"
	end
%>

<article class="decorated_wrap shrinked" id="<%= html_id %>">

	<div>
		<%= obj.fields_for assoc.to_sym, single do |a| %>

			<% if a.object.id.blank? %>

				<% fields.each do |field_name, opts| %>
					<%= render('layouts/elements/input_text',
						field_name: field_name,
						obj: a,
						opts: opts
					) %>
				<% end %>
				
			<% end %>

		<% end %>

	</div>

	<%= render('/layouts/elements/table_list_checkboxes',
		obj: obj.object,
		coll: coll,
		text_method: fields.keys
	) %>
	
	<%= render('layouts/elements/input_fields_error',
		obj: obj,
		fields: fields,
		assoc: single
	) %>

</article>