
<% content_for :search_bar do %>

	<%= search_form_for @search,
		url: url_for(action: :search), 
		remote: true,
		class: "decorated_wrap" do |s| %> 

		<% 
			@s = s 
			main_fields_cnt = main_fields.size
		%>

		<div class="searchform_main_fields disable_on_bigscreen">

			<% main_fields.each_with_index do |(k, v), index| %>

				<div>

					<%= render_searchfield(obj: s, field: k, pars: v, index: index) %>

					<% if index+1 == main_fields_cnt %>
						<label 
							class="button" 
							for="show_searchpanel_opts" 
							id="show_searchpanel_opts"
						>
							&#9776;
						</label>
					<% end %>

				</div>
			<% end %>

		</div>

		<div class="searchform_fulscreen_fields">

			<% main_fields.each_with_index do |(k, v), index| %>
				<div class="disable_on_smallscreen">

					<%= render_searchfield(obj: s, field: k, pars: v, index: index) %>

				</div>
			<% end %>

			<%= yield %>

			<div class="searchform_actions">

				<%= render 'layouts/shared/actions/add_new_button' if actions.include? :add %><!--

				--><%= render 'layouts/shared/actions/edit_button' if actions.include? :edit %><!--

				--><%= render 'layouts/shared/actions/delete_button' if actions.include? :delete %><!--

				--><% if actions.include? :clear_fields %><!--
					--><button id="clear_search" class="button">
						<%= t 'search.clear' %>
					</button><!--
				--><% end %><!--

				--><% if actions.include? :clear_all %><!--
					--><button id="reset_search" class="button">
						<%= t 'search.reset' %>
					</button><!--
				--><% end %><!--

				--><%= render 'layouts/shared/actions/go_to_administrative' if actions.include? :administrative %><!--

				--><% if actions.include? :google_search %><!--
					--><button id="search_item_on_google" class="button">
						<%= t 'goods_search.google' %>
					</button><!--
				--><% end %><!--

				--><%= render('layouts/shared/actions/search_or_back_button', s: s) %>
				
			</div>

		</div>

	<% end %>

<% end %>