<%
tag = "section"
if !defined? object
	object = @record
end
cn = "#{controller_name}-baseinfo"
if defined? wrap_tag
	tag = wrap_tag
end
%>

<% if tag != false %>
	<<%= tag.to_s %> class="decorated_wrap shrinked items_table">
<% end %>

	<table class="rows_colored no_line_height" id="<%= cn %>">

		<caption>
			<%= object.model_name.human %>
		</caption>

		<tbody>
			<% fields.each do |section| %>
				<tr>
					<td>
						<% section.each_with_index do |row, index| %>
							<h<%= index+1 %>><%= get_content_for(object, row) %></h<%= index+1 %>>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>

		<tfoot>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
		</tfoot>

	</table>

<% if tag != false %>
	</<%= tag.to_s %>>
<% end %>
