<div>

	<table>

		<thead>

			<tr>
				<th colspan="10"> <%= cbt :uoms_associated_to_client_and_manufacturer %> </th>
			</tr>

			<tr>
				<th colspan="10">
					<%= label_tag :edit_good_uoms_manufacturer, t(:manufacturer) %>
					<div class="select_wrapper">
						<%= select_tag(
							:edit_good_uoms_manufacturer,
							options_for_select(
								manufacturers.collect{ |u| [u.name, u.id] }
							),
							include_blank: t(:select)
						) %>
						<span></span>
					</div>

					<%= label_tag :edit_good_uoms_impexpcompany, t(:client) %>
					<div class="select_wrapper">
						<%= select_tag(
							:edit_good_uoms_impexpcompany,
							options_for_select(
								impexpcompanies.collect{ |u| [u.company_name, u.id] }
							),
							include_blank: t(:select)
						) %>
						<span></span>
					</div>
				</th>
			</tr>

			<tr>
				<th> - </th>
				<th> - </th>
			</tr>
		</thead>
			
		<tbody>
			<% uoms.each do |uom| %>
				<tr>
					<td> <%= uom.uom %> </td>
					<td> <%= uom.type_fullname %> </td>
					<td> <%= uom.uom_multiplier %> </td>
					<td> <%= uom.manufacturer.name %> </td>
					<td> <%= uom.impexpcompany.company_name %> </td>
					<td>
						<%= link_to(
							"&#9998;".html_safe,
						 	edit_uom_path(uom)
						) %>
					</td>
					<td>
						<%= link_to(
							"&#x2716;".html_safe,
							delete_uom_path(uom)
						) %>
					</td>
				</tr>
			<% end %>
		</tbody>

	</table>

</div>