<% content_for :mainmenu do %>
	
	<ul class="main">

		<div>

			<li>
				<%= active_link_to t("top_menu.goods"), goods_path %>
			</li>

			<li>
				<%= active_link_to t("top_menu.companies"), manufacturers_path %>
			</li>

			<li>
				<%= active_link_to t("top_menu.local_taric"), local_tarics_path %>
			</li>

			<li>
				<%= active_link_to t("top_menu.global_taric"), sk_tarics_path %>
			</li>

			<li>
				<%= active_link_to t("top_menu.others"), others_path %>
			</li>

			<li>
				<%= active_link_to t("top_menu.settings"), settings_path, class: 'has_submenu' %>
				<ul class="sub disable_on_bigscreen">
					<%= content_for :submenu %>
				</ul>
			</li>

		</div>

	</ul>

	<% if content_for? :submenu %>

		<ul class="sub disable_on_smallscreen">
			<div>
				<%= content_for :submenu %>
			</div>
		</ul>

	<% end %>

<% end %>