<% content_for :mainmenu do %>

	<ul class="main">

		<div>
			
			<%= active_link_to t("top_menu.goods"), goods_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.companies"), manufacturers_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.local_taric"), local_tarics_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.global_taric"), sk_tarics_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.others"), others_path, wrap_tag: :li %>

			<li class="has_submenu <%= "active" if is_active_link?(settings_path) %>"> 
				<%= active_link_to t("top_menu.settings"), settings_path %>
				<ul class="sub disable_on_bigscreen">
					<div>
						<%= render 'settings/shared/settings_submenu' %>
					</div>
				</ul>
				<% if is_active_link?(settings_path) %>
					<%= content_for :submenu do %>
						<%= render 'settings/shared/settings_submenu' %>
					<% end %>
				<% end %>
			</li>


		</div>

	</ul>

	<label for="show_topmenu" class="show_topmenu"> &#9776; </label>

	<% if content_for? :submenu %>

		<ul class="sub disable_on_smallscreen">
			<div>
				<%= content_for :submenu %>
			</div>
		</ul>

	<% end %>

<% end %>