<% content_for :mainmenu do %>

	<ul class="main">

		<div>

			<%= active_link_to t("top_menu.searchers"), searcher_path,  :active => [['searchers'], []], wrap_tag: :li %>

			<%= active_link_to t("top_menu.goods"), goods_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.companies"), manufacturers_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.local_taric"), local_tarics_path, wrap_tag: :li %>

			<%= active_link_to t("top_menu.global_taric"), sk_tarics_path, wrap_tag: :li %>

			<%= render 'layouts/base/sub_menu', section: :others %>

			<%= render 'layouts/base/sub_menu', section: :settings %>


		</div>

	</ul>

	<label for="show_topmenu" class="show_topmenu"> &#9776; </label>

	<%= content_for :submenu %>

<% end %>
