
<% content_for :login do %>

    <%= render "devise/shared/error", resource: resource %>

    <article class="login">

        <section class="decorated_wrap shrinked">

            <table class="for_forms">

                <caption>
                    <%= t('user.forgot_password') %>
                </caption>

                <tbody>
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                        <tr>
                            <td>
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                            </td>
                        </tr>

                        <tr>
                            <td class="buttons">
                                <%= f.submit t('user.send_me_new_password') %>
                            </td>
                        </tr>

                    <% end %>
                </tbody>

            </table>

        </section>

        <%= render "devise/shared/links" %>

    </article>

<% end %>

