<section class="decorated_wrap shrinked items_table">

	<table id="uoms_calculator_input" class="for_nontabular with_controls">

		<caption> <%= t('goods.uoms_calculator.cap') %> </caption>

		<tbody>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.price_per') %>  </label>
				</td>

				<td>
					<input type="text" name="uom_value" value="<%= @uom_alone.try(:uom) %>"
					disabled="disabled" data-isnum="true">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.per_count') %> </label>
				</td>
				<td>
					<input type="text" name="uom_multiplier" value="<%= @uom_alone.try(:uom_multiplier) %>" disabled="disabled" data-isnum="true">
				</td>
			</tr>

			<tr>
				<td>
					<label for="uom_count">
						<%= t('goods.uoms_calculator.count') %>
					</label>
				</td>

				<td>
					<input type="text" name="uom_count" data-isnum="true">
				</td>
			</tr>

			<tr>
				<td>
					<label for="uom_result">
						<%= t('goods.uoms_calculator.price') %>
						[<b class="uoms_calculator_uom_type">
							<%= @uom_alone.try(:type) %>
						</b>]
					</label>
				</td>

				<td>
					<input type="text" name="uom_result" data-isnum="true">
				</td>
			</tr>

		</tbody>

		<tfoot>
			<tr>
				<td colspan="10" class="">
					<button class="button disabled" id="add_to_calculator_memory" disabled="disabled"><%= t('goods.uoms_calculator.add') %></button><!--
					--><button class="button" id="clear_calculator_fields"><%= t('goods.uoms_calculator.clear') %></button>
				</td>
			</tr>
		</tfoot>

	</table>

</section>
