<section class="decorated_wrap shrinked">

	<table class="uom_calculator">

		<thead>
			<tr>
				<th colspan="10"> <%= t('goods.uoms_calculator.cap') %> </th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.price_per') %>  </label>
				</td>

				<td>
					<input type="text" name="uom_value" value="<%= @uom_alone.try(:uom) %>"
					disabled="disabled">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.per_count') %> </label>
				</td>
				<td>
					<input type="text" name="uom_multiplier" value="<%= @uom_alone.try(:uom_multiplier) %>" disabled="disabled">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.count') %> </label>
				</td>

				<td>
					<input type="text" name="uom_count">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= t('goods.uoms_calculator.price') %> </label>
				</td>

				<td>
					<input type="text" name="uom_result">
				</td>
			</tr>

			<tr>
				<td colspan="10" class="right">
					<button class="button disabled" id="add_to_calculator_memory" disabled="disabled"><%= t('goods.uoms_calculator.add') %></button><!--
					--><button class="button" id="clear_calculator_fields"><%= t('goods.uoms_calculator.clear') %></button>
				</td>
			</tr>

		</tbody>

		<tfoot>
			<tr>
				<td colspan="10"> 
					<%= t('goods.uoms_calculator.type') %>: 
					<span class="uoms_calculator_uom_type">
						<%= @uom_alone.try(:type) %> 
					</span>
				</td>
			</tr>
		</tfoot>

	</table>

</section>