
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, 
			url: search_local_taric_path,
			remote: true,
			class: "decorated_wrap" do |s| %> 

			<%= render 'layouts/actions_remember_fields', s: s %>

			<div>
				<%= s.label :kncode %>
				<%= s.search_field :kncode_start %>
			</div>

			<div>
				<%= s.label :description %>
				<%= s.search_field :description_cont %>
			</div>
			
			<div>
				<%= render 'layouts/action_add_new' %><!--

				--><%= render 'layouts/action_go_to_administrative_mode' %><!--

				--><%= render 'layouts/action_edit_delete' %><!--

				--><button id="clear_search" class="button">
					<%= t :clear_search %>
				</button><!--

				--><%= render 'layouts/action_search_or_back', s: s %>
			</div>

		<% end %>

	</section>

<% end %>