
<div>

	<div>
		<%= obj.label :ident, class: "required" %>
		<%= obj.text_field :ident, autocomplete: "off" %>
	</div>

	<div>
		<%= obj.label :description %>
		<%= obj.text_field :description, autocomplete: "off" %>
	</div>
	
</div>

<div class="form_errors">
	<%= obj.errors :ident %>
	<%= obj.errors :description %>
</div>