
<div>

	<div>
		<%= obj.label :ident, class: "required" %>
		<%= obj.text_field :ident, autocomplete: "off" %>
	</div>

	<div>
		<%= obj.label :description %>
		<%= obj.text_field :description, autocomplete: "off" %>
	</div>
	
</div>

<div class="tablewrap">
	
	<table id="good_ident_results" class="rows_colored with_efects">

		<thead>
			<tr>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render 'impexpcompanies/api/client_search', items: @impexpcompanies %>

		</tbody>

	</table>

</div>

<div class="form_errors">
	<%= obj.errors :ident %>
	<%= obj.errors :description %>
</div>