
<div>

	<div>
		<%= obj.label :ident %>
		<%= obj.text_field :ident %>
	</div>

	<div>
		<%= obj.label :description %>
		<%= obj.text_field :description %>
	</div>
	
</div>

<div class="form_errors">
	<%= obj.errors :ident %>
	<%= obj.errors :description %>
</div>