<article
	class="decorated_wrap shrinked images"
	id="good_images"
>

	<div class="caption">
		<%= t('activerecord.attributes.good.image') %>
	</div>

	<div class="images">
		<% #i = 0 %>

		<%= obj.fields_for :good_images do |img| %>

            <%
                html_class = ""
                html_class += "on_server" if !img.object.image.blank?
            %>

			<picture class="<%= html_class %>">

				<%= img.hidden_field :image_cache %>
                <%= img.hidden_field :id %>

                <%= image_tag(img.object.image) %>

                <div>
					<%= img.label(:image, t('goods.new_form_texts.select_image'), class: 'button add_image') %>
					<%= img.file_field(:image, class: 'hidden') %>
	                <%# if !img.object.image.blank? %>
	                	<%= img.check_box :_destroy, class: 'remove_image' %>
                        <%= img.label :_destroy, 'X', class: 'button remove_image' %>
	                <%#end %>
	            </div>

			</picture>

		<% end %>

	</div>

</article>