<div>

	<div>
		<%= obj.label :goods_manufacturer_uom %>
		<%= obj.text_field :goods_manufacturer_uom, autocomplete: "off" %>
	</div>

	<div>
		<%= obj.label :goods_manufacturer_uom_multiplier %>
		<%= obj.text_field :goods_manufacturer_uom_multiplier, autocomplete: "off" %>
	</div>

	<div class="select_wrapper">

		<%#= obj.collection_select('uom[]',
			Impexpcompany.all,
			:id,
			:company_name,
			include_blank: cbt(:search_client_filter_none) 
		)
		%>

		<span></span>

	</div>

</div>

<div class="form_errors">
	<%= obj.errors :goods_manufacturer_uom %>
	<%= obj.errors :goods_manufacturer_uom_multiplier %>
</div>