
<div>
	<%= obj.label :kn_code %>
	<%= obj.text_field :kn_code %>

	<%= obj.label :kn_code_description %>
	<%= obj.text_field :kn_code_description %>

	<%= obj.errors :kn_code %>
</div>

<div>
	
	<table id="new_good_taric_search">

		<thead>
			<tr>
				<th>  </th>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render 'goods/new/taricnum_search', obj: @taric %>

		</tbody>

	</table>

</div>