
<div>
	<%= obj.label :local_taric_kncode %>
	<%= obj.text_field :local_taric_kncode %>

	<%= obj.label :local_taric_description %>
	<%= obj.text_field :local_taric_description %>

	<%= obj.errors :local_taric_description %>
</div>

<div>
	
	<table id="good_local_taric_kncode_results">

		<thead>
			<tr>
				<th>  </th>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render 'local_taric/api/taricnum_search', items: @taric %>

		</tbody>

	</table>

</div>