
<article class="decorated_wrap shrinked">

	<div>

		<div>
			<%= obj.label :uom %>
			<%= obj.text_field(:uom) %>
		</div>

		<div>
			<%= obj.label :uom_multiplier %>
			<%= obj.text_field(:uom_multiplier) %>
		</div>

		<%= render('layouts/elements/input_select',
			obj: obj,
			opts: [
				:uom_type_id,
				@uom_types,
				:id,
				:name_for_form_input
			]
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			opts: [
				:impexpcompany_id,
				@impexpcompanies_for_uoms,
				:id,
				:company_name,
				include_blank: select_blank_message(
					@impexpcompanies_for_uoms,
					cbt('new_form_texts.uom_cannot_select_impexpcompany')
				)
			],
			html_class: "uoms_impexpcompany_select"
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			opts: [
				:manufacturer_id,
				@manufacturers_for_uoms,
				:id,
				:name,
				include_blank: select_blank_message(
					@manufacturers_for_uoms,
					cbt('new_form_texts.uom_cannot_select_manufacturer')
				)
			],
			html_class: "uoms_manufacturer_select"
		) %>

		<%= render('layouts/elements/input_fields_error',
			obj: obj,
			fields: { uom: {}, uom_multiplier: {} }
		) %>

	</div>
	
</article>
