
<article class="decorated_wrap shrinked">

	<div>

		<div>
			<%= obj.label :uom %>
			<%= obj.text_field(:uom) %>
		</div>

		<div>
			<%= obj.label :uom_multiplier %>
			<%= obj.text_field(:uom_multiplier) %>
		</div>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @uom_types,
			method_to_get_vals: :id,
			method_to_get_texts: :name_for_form_input,
			send_parameters_name: :uom_type_id,
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @impexpcompanies_for_uoms,
			method_to_get_vals: :id,
			method_to_get_texts: :company_name,
			send_parameters_name: :impexpcompany_id,
			blank_text: select_blank_message(
				@impexpcompanies_for_uoms,
				cbt('new_form_texts.uom_cannot_select_impexpcompany')
			),
			html_class: "uoms_impexpcompany_select"
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @manufacturers_for_uoms,
			method_to_get_vals: :id,
			method_to_get_texts: :name,
			send_parameters_name: :manufacturer_id,
			blank_text: select_blank_message(
				@manufacturers_for_uoms,
				cbt('new_form_texts.uom_cannot_select_manufacturer')
			),
			html_class: "uoms_manufacturer_select"
		) %>

		<%= render('layouts/elements/input_fields_error',
			obj: obj,
			fields: { uom: {}, uom_multiplier: {} }
		) %>

	</div>
	
</article>
