
<%
	disabled = obj.object.uom.blank?
%>

<article
	class="decorated_wrap shrinked uoms"
	id="uom_<%= index %>"
>

	<input id="good_uoms_attributes_<%= index %>__destroy" class="delete_uom" type="hidden" value="false" name="good[uoms_attributes][<%= index %>][_destroy]" uom_id="<%= "#{obj.object.id}" %>">

	<div class="caption">
		<%= Uom.model_name.human %>
	</div>

	<div class="delete_info">
		<span><%= t 'goods.new_form_texts.uom_for_remove' %></span>
		<u class="cancel_uom_delete"><%= t 'goods.new_form_texts.cancel_uom_remove' %></u>
		<br class="clear">
	</div>

	<div>

		<div>
			<%= obj.label :uom %>
			<%= obj.text_field(
				:uom,
				class: "uom_val"
			) %>
		</div>

		<div>
			<%= obj.label :uom_multiplier %>
			<%= obj.text_field(
				:uom_multiplier,
				class: "uom_multiplier"
			) %>
		</div>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @uom_types,
			method_to_get_vals: :id,
			method_to_get_texts: :name_for_form_input,
			send_parameters_name: :uom_type_id,
			html_class: "uom_type",
			selected: @uom_types.where(id: 1).first
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @impexpcompanies_for_uoms,
			method_to_get_vals: :id,
			method_to_get_texts: :company_name,
			send_parameters_name: :impexpcompany_id,
			blank_text: select_blank_message(
				@impexpcompanies_for_uoms,
				cbt('new_form_texts.uom_cannot_select_impexpcompany')
			),
			html_class: "uom_impexpcompany",
			selected: (@impexpcompanies_for_uoms.length == 1) ? @impexpcompanies_for_uoms.first : nil
		) %>

		<%= render('layouts/elements/input_select',
			obj: obj,
			collection: @manufacturers_for_uoms,
			method_to_get_vals: :id,
			method_to_get_texts: :name,
			send_parameters_name: :manufacturer_id,
			blank_text: select_blank_message(
				@manufacturers_for_uoms,
				cbt('new_form_texts.uom_cannot_select_manufacturer')
			),
			html_class: "uom_manufacturer",
			selected: (@manufacturers_for_uoms.length == 1) ? @manufacturers_for_uoms.first : nil
		) %>

		<%= button_tag(t('actions.add_next'), class: "button add_uom", disabled: disabled, type: :button ) %>

		<%= button_tag(t('actions.delete'), class: "button danger remove_uom", disabled: disabled, type: :button ) %>

		<button class="button restore_uom" type="button" disabled="disabled">
			<%= t 'actions.restore' %>
		</button>

		<%= render('layouts/elements/input_fields_error',
			obj: obj,
			fields: { uom: {}, uom_multiplier: {}, uom_type: {}, manufacturer: {}, impexpcompany: {} }
		) %>

	</div>

</article>
