
<tr class="no_results">
	<td colspan="10">
		<h4> <%= t 'items_table.no_items' %> </h4>
	</td>
</tr>

<tr class="solution">

	<td colspan="10">

		<h4> <%= t 'items_table.solutions' %>: </h4>

		<ul>
			<% if !@task_banned_for_user %>

				<li>
					<%= link_to(
						t('actions.add'),
						{
							controller: controller_name,
							action: :new
						},
						class: "button"
					) %>
					<%= t('items_table.add_new_solution') %>
				</li>

			<% else %>

				<li>
					<%= t('items_table.requires_admin') %>
				</li>

			<% end %>
		</ul>

	</td>
</tr>






