<%
	h_class = ""
	if defined?(html_class)
		h_class += html_class
	end
	if defined?(not_resolved)
		case not_resolved
		when true
			h_class += ' not_resolved'
		when false
			h_class += ' resolved'
		else
			#h_class = ''
		end
	end
	table_class = 'rows_colored no_line_height'
	table_class += defined?(foot_content) ? '' : ' no_footer_fix'
%>

<section class="decorated_wrap shrinked items_table <%= h_class %>">

	<table class="<%= table_class %>">

		<% if defined?(caption) %>

			<caption>
				<%= caption %>
			</caption>

		<% end %>

		<tbody>
			<tr>
				<td>
					<%= content %>
				</td>
			</tr>
		</tbody>

		<% if defined?(foot_content) %>
			<tfoot>
				<tr>
					<th colspan="99">
						<div id="items_table_total_count"> 
							<%= foot_content %>
						</div>
					</th>
				</tr>
			</tfoot>
		<% end %>

	</table>

</section>