
<section class="items_table decorated_wrap">

	<table id="manufacturers" class="rows_colored with_efects">

		<thead>
				
			<tr>
				<th> <%= cbt :table_cap_manufacturer %> </th>
				<th> <%= cbt :table_cap_site %> </th>
				<th> <%= cbt :table_cap_clients %> </th>
			</tr>

		</thead>

		<tbody>

			<%= render 'manufacturers/manufacturerslist/item', items: @result %>

		</tbody>

		<tfoot>
			<tr>
				<td colspan="10"> 
					<%= t :total %> <b><%= @result.length %></b> 
				</td>
			</tr>
		</tfoot>

	</table>

</section>