
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search,
			url: search_manufacturers_path,
			class: "decorated_wrap",
			remote: true do |s| %> 

			<%= hidden_field_tag :reset_to_first_page, false %>

			<div>
				<%= s.label :name %>
				<%= s.search_field :name_cont, autocomplete: "off" %>
			</div>

			<%= render 'manufacturers/manufacturerslist/search_select_client', obj: s %>

			<div>
				<%= render 'layouts/action_add_new' %>

				<%= render 'layouts/action_go_to_administrative_mode' %>

				<button id="clear_search" class="button">
					<%= t :clear_search %>
				</button>

				<button id="reset_search" class="button">
					<%= t :reset_search %>
				</button>

				<%= render 'layouts/action_search_or_back', s: s %>
			</div>

		<% end %>

	</section>

<% end %>