
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, class: "decorated_wrap", remote: true do |s| %> 

			<div>
				<%= s.label :name %>
				<%= s.search_field :name_cont %>
			</div>

			<div>
				<%= render 'layouts/action_add_new' %>

				<%= render 'layouts/action_go_to_administrative_mode' %>

				<%= s.submit t(:search) %>
			</div>

		<% end %>

	</section>

<% end %>