<%
	single = instance_variable_get("@#{assoc.to_s.singularize}")
	coll = instance_variable_get("@#{assoc.to_s}")

	## be always singular due to js api targetting elements
	if (defined? html_class)&&(!html_class.blank?)
		klass = html_class.to_s
	else
		klass = "#{assoc.to_s.singularize}_select"
	end

	html_id = "#{klass}_#{(obj.object.try(:id) || 0).to_s}"
%>

<article
 class="decorated_wrap shrinked <%= klass %>"
 id="<%= html_id %>"
 <% if !(ss = searcher_settings).nil? %>
 	<%= "data-searcher-query=#{ss[:query].to_json}" if ss.has_key? :query %>
 	<%= "data-searcher-assoc=#{assoc.to_s.singularize}" %>
 <% end %>
>

	<input type="hidden" name="assoc-type" value="has_many">

	<% if !(l = coll.limit_value).blank? %>
		<input type="hidden" name="load-limit" value="<%= l.to_s %>">
		<input type="hidden" name="page_num" value="<%= coll.current_page %>">
	<% end %>

	<% if !ss.nil? %>
		<% if ss.has_key? :caption %>
			<div class="caption <%= 'required' if ss[:caption].has_key?(:required) %>">
				<%= assoc.to_s.classify.constantize.model_name.human %>
			</div>
		<% else %>
			<% if !ss.has_key? :query %>
				<div class="caption"><%= obj.object.model_name.human %></div>
			<% end %>
		<% end %>
	<% end %>

	<%= obj.fields_for assoc.to_sym, single do |a| %>

		<% if a.object.id.blank? %>
			<div>

				<% fields.each do |field_name, opts| %>
					<%= render('layouts/elements/input_text',
						field_name: field_name,
						obj: a,
						opts: opts
					) %>
				<% end %>

				<%= render 'layouts/elements/input_fields_reset_button' %>

				<div>
					<%= a.label(
						"allow_search_as_new",
						t('search.search_as_new')
					) %>
					<%= a.check_box(
						:allow_search_as_new,
						{
							class: "#{assoc.to_s.singularize}_allow_add_new allow_add_new",
							checked: (@MEM.allow_add_new)["#{assoc.to_s}_#{a.index}"]
						},
						1,
						0
					) %>

				</div>

			</div>
		<% end %>

	<% end %>

	<%= render('/layouts/elements/table_list_checkboxes',
		obj: obj.object,
		coll: coll,
		text_method: fields.keys
	) if coll.length > 0 %>

	<%= render('/layouts/shared/new_edit_form/not_any_record') if coll.length == 0 %>

	<%= render('layouts/elements/input_fields_error',
		obj: obj,
		fields: fields,
		assoc: single
	) %>

</article>
