<div class="tablewrap">

    <table>

        <thead><tr><th></th></tr></thead>

        <tbody>

            <tr>
                <td colspan="10" class="new_form_select_no_results">
                    <h2>
                        <%= t('items_table.no_items') %>
                    </h2>
                    <h2>
                        <%= t('new_form_selects.must_add_first') %>
                    </h2>
                        ** <%= t('new_form_selects.try_to_add_as_new_1a') %>
                    <b>
                        <%= t('search.search_as_new') %>
                    </b>
                    <br>
                    <i>
                        *** <%= t('new_form_selects.try_to_add_as_new_2') %>
                    </i>
                </td>
            </tr>

        </tbody>

        <tfoot><tr><th></th></tr></tfoot>

    </table>

</div>
