<span class="errormessage record_exist <%= params[:field_id] %>"> 
	<%= t "activerecord.attributes.#{params[:model]}.#{params[:field]}" %>
	<%= t 'search.also_exist_in_db' %>
</span>

<%= link_to(
	t('actions.show'), 
	{
		controller: params[:model].pluralize,
		action: :show,
		id: @result.id
	},
	class: 'button',
	target: :_blank
) %>

<%= link_to(
	t('actions.edit'), 
	{
		controller: params[:model].pluralize,
		action: :edit,
		id: @result.id
	},
	class: 'button'
) %>

