
<section class="items_table decorated_wrap">

	<table id="goods" class="items rows_colored with_efects">

		<thead>
				
			<tr>

				<% if @administrative_mode %> <th> </th> <% end %>

				<%= render('layouts/sort_links',
					fields: [:ident],
					obj: @search,
					action: :search
				) %>

				<th class="good_description">
					<%= cbt :table_cap_description %>
				</th>

				<%= render('layouts/sort_links',
					fields: [:local_taric_kncode],
					obj: @search,
					action: :search
				) %>

			</tr>

		</thead>

		<tbody>

			<%= render 'goods/goodslist/item', items: @result %>

		</tbody>

		<tfoot>
			
			<tr>

				<th colspan="10">

					<div id="pagination">
						<%= paginate @result, remote: true %>
					</div>

					<div id="total_goods_count"> 
						<%= cbt :table_foot_goods_total %>
						<b> <%= @result.total_count %> </b>
					</div>

				</th>

			</tr>


		</tfoot>

	</table>

</section>