
<section class="items_table decorated_wrap">

	<table id="goods" class="items rows_colored with_efects">

		<thead>
				
			<tr>
				<% if @administrative_mode %> <th> </th> <% end %>
				<th> <%= cbt :table_cap_ident %> </th>
				<th> <%= cbt :table_cap_description %> </th>
				<th> <%= cbt :table_cap_knnumber %> </th>
			</tr>

		</thead>

		<tbody>

			<%= render 'goods/goodslist/item', items: @result %>

		</tbody>

		<tfoot>
			
			<tr>
				<th colspan="6" id="total_goods_count"> 
					<%= cbt :table_foot_goods_total %>
					<b> <%= @result.count %> </b>
				</th>
			</tr>

		</tfoot>

	</table>

</section>