
<table class="good_manufacturers_list">

	<thead>

		<tr>
			<th> <%= cbt :table_cap_makers %> </th>
			<th class="inner_table_wrap"> 
				<table>
					<thead>
						<tr>
							<th><%= cbt :uoms_uom_short %></th>
							<th> <%= cbt :uoms_uom_multiplier_short %> </th>
							<th> <%= cbt :uoms_uom_type_short %> </th>
						</tr>
					</thead>
				</table> 
			</th>
		</tr>

	</thead>

	<tbody>

		<% makers.each do |maker| %>

			<% gm = maker.goods_manufacturers.where(good_id: @good.id).first %>

			<tr <%= 'class="selected"'.html_safe if (@search.manufacturer_filter.to_i == maker.id) %>>

				<td>
					<%= maker.name %>
				</td>

				<td colspan="3" class="inner_table_wrap">
					<% if !gm.uoms.blank? %>
						<table class="with_efects">
							<% gm.uoms.each do |uom| %>
								<tr>
									<td>
										<%= uom.uom %> 
									</td>
									<td>
										<%= uom.uom_multiplier %> 
									</td>
									<td>
										<%#= uom.type %> 
									</td>
								</tr>
							<% end %>
						</table>
					<% end %>
				</td>
			</tr>

		<% end %>

	</tbody>

	<tfoot>
		
		<tr>
			<td colspan="10"> 
				<%= cbt :table_cap_makers_count %> <%= makers.size %> 
			</td>
		</tr>

	</tfoot>

</table>
