
<section class="item_details">

	<h1> <%= @good.ident %> </h1>
	<br>
	<h2> <%= num_to_kncode @good.local_taric.kncode %> </h2>
	<br>
	<h3> <%= @good.local_taric.description %> </h3>

	<p>

	<%= @good.description %>

	<p>

	<div class="tablewrap decorated_wrap">
		<%= render 'goods/goodslist/item_details_clients', clients: @good.impexpcompanies %>
	</div>
	
	<div class="tablewrap decorated_wrap">
		<%= render 'goods/goodslist/item_details_manufacturers', makers: @good.manufacturers %>
	</div>

	<div class="tablewrap decorated_wrap">
		<%= render 'goods/goodslist/item_details_uoms_calculator', makers: @good.manufacturers %>
	</div>

</section>