
<section class="item_details">

	<h1> <%= @good.ident %> </h1>
	<h2> <%= @good.local_taric.kncode %> </h2>
	<h3> <%= @good.local_taric.description %> </h3>

	<p>

	<%= @good.description %>

	<p>

	<%= render 'goods/goodslist/item_details_clients', clients: @good.impexpcompanies %>

	<p>

	<%= render 'goods/goodslist/item_details_manufacturers', makers: @good.manufacturers %>

</section>