<h1> <%= good.ident %> </h1>
	<br>
	<h2> <%= num_to_kncode good.local_taric.kncode %> </h2>
	<br>
	<h3> <%= good.local_taric.description %> </h3>

	<p>

	<%= good.description %>

	<p>

	<div class="tablewrap decorated_wrap">

		<table>	
			<thead>
				<tr>
					<th>  </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> 
						<h2> <%= num_to_kncode good.local_taric.kncode %> </h2>
					</td>
				</tr>
				<tr>
					<td>
						<h3> <%= good.local_taric.description %> </h3>
					</td>
				</tr>
			</tbody>
		</table>

	</div>