
<% items.each do |item| %>

	<tr>
		
		<%= render 'layouts/table_checkbox', item_id: item.id %>

		<td> 
			<%= link_to item, remote: true do %>
				<%= highlight_search item, :ident %>
			<% end %>
		</td>
		
		<td> <%= item.description %> </td>
		<td> <%= num_to_kncode item.local_taric.kncode %> </td>

		<%= render 'layouts/table_item_operations', item_id: item.id %>

	</tr>

<% end %>

<%= render 'layouts/no_results', items: items %>