
<% items.each do |item| %>

	<tr>
		
		<%= render('layouts/table_checkbox', item_id: item.id) if @administrative_mode %>

		<td class="good_ref"> 
			<%= link_to item, remote: true do %>
				<%= highlight_search item, :ident %>
			<% end %>
		</td>
		
		<td class="good_description"> 
			<%= highlight_search item, :description, :ident %>
		</td>

		<td class="kn_code"> 
			<%= num_to_kncode item.local_taric.kncode %> 
		</td>

		<%= render('layouts/table_item_operations', item_id: item.id) if @administrative_mode %>

	</tr>

<% end %>

<%= render('goods/goodslist/item_no_results', items: items) if items.length == 0 %>

