
<div class="tablewrap decorated_wrap">

	<table class="uom_calculator">

		<thead>
			<tr>
				<th> <%= cbt :uoms_calculator_cap  %> </th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td>
					<label> <%= cbt :uoms_uom_short %>  </label>
				</td>

				<td>
					<input type="text" name="uom_value" value="<%= @uom_forever_alone.uom %>"
					disabled="disabled">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= cbt :uoms_uom_multiplier2 %> </label>
				</td>
				<td>
					<input type="text" name="uom_multiplier" value="<%= @uom_forever_alone.uom_multiplier %>" disabled="disabled">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= cbt :uoms_count %> </label>
				</td>

				<td>
					<input type="text" name="uom_count">
				</td>
			</tr>

			<tr>
				<td>
					<label> <%= cbt :uoms_result_short %> </label>
				</td>

				<td>
					<input type="text" name="uom_result">
				</td>
			</tr>

			<tr>
				<td colspan="10" class="right">
					<button class="button disabled" id="add_to_calculator_memory"><%= t :add_to_mem %></button><!--
					--><button class="button" id="clear_calculator_fields"><%= t :clear_search %></button>
				</td>
			</tr>

		</tbody>

		<tfoot>
			<tr>
				<td colspan="10"> 
					<%= cbt :uoms_uom_type_short %>: 
					<span class="uoms_calculator_uom_type">
						<%= @uom_forever_alone.type %> 
					</span>
				</td>
			</tr>
		</tfoot>

	</table>

</div>
