
<section class="items_table decorated_wrap">

	<table class="items no_results">

		<thead>
			<tr>
				<th>
					<%= cbt :table_cap_good %>
				</th>
			</tr>
		</thead>

		<tbody>

			<% if (params.deep_has_key? :q, :manufacturer_filter)&&(params.deep_has_key? :q, :impexpcompany_filter) 

				if (!params[:q][:manufacturer_filter].blank?)&&(!params[:q][:impexpcompany_filter].blank?)

					res = ImpexpcompanyManufacturer.where(
						manufacturer_id: params[:q][:manufacturer_filter],
						impexpcompany_id: params[:q][:impexpcompany_filter]
					).first

					if !res.local_taric.blank? %>

						<tr>
							<td colspan="10">
								<%= cbt :err_no_goods_found_part1 %>
								<b> <%= res.impexpcompany.company_name %> </b>
								<br>
								<%= cbt :err_no_goods_found_part2 %>
								<b> <%= res.manufacturer.name %> </b>
								<br>
								<%= cbt :err_no_goods_found_part3 %>
								<br>
								<br>
								<h1> <%= num_to_kncode res.local_taric.kncode %> </h1>
								<br>
								<h4> <%= res.local_taric.description %> </h4>
								<br>
								<br>
							</td>
						</tr>

					<% end 

				end 
				
			end %>

			<%= render(
				'layouts/no_results', 
				err_message: :good_search_no_results,
				colspan: true
			) %>

		</tbody>

		<tfoot>
			<tr>
				<th>
					&nbsp;
				</th>
			</tr>
		</tfoot>

	</table>

</section>

