
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, 
			url: search_goods_path,
			remote: true,
			class: "decorated_wrap" do |s| %> 

			<div>
				<%= s.label :ident %>
				<%= s.search_field :ident_or_description_cont, autocomplete: "off", autofocus: "autofocus" %>
			</div>

			<div class="search_checkbox_wrap">
				<%= check_box_tag(
					'q[search_both]',
					1,
					false
				) %>
				<%= s.label :description, class: 'disabled' %>
				<%= s.search_field(
					:description_cont,
				 	autocomplete: "off",
				 	disabled: true
				) %>
			</div>

			<%= render 'goods/goodslist/search_select_client', obj: s %>

			<div>
				<%= s.label :manufacturer_filter %>
				<div class="select_wrapper">
					<%= render 'goods/goodslist/search_select_manufacturer', obj: s %>
				</div>
			</div>

			<div>

				<%= render 'layouts/action_add_new' %><!--

				--><%= render 'layouts/action_go_to_administrative_mode' %><!--

				--><%= render 'layouts/action_edit_delete' %><!--

				--><button id="clear_search" class="button">
					<%= t :clear_search %>
				</button><!--

				--><button id="reset_search" class="button">
					<%= t :reset_search %>
				</button><!--

				--><button id="search_good_on_google" class="button">
					<%= t :google_search %>
				</button><!--

				--><%= render 'layouts/action_search_or_back', s: s %>

			</div>

		<% end %>

	</section>

<% end %>