
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, 
			url: search_goods_path,
			remote: true,
			class: "decorated_wrap" do |s| %> 

			<div>
				<%= s.label :ident %>
				<%= s.search_field :ident_or_description_cont, autocomplete: "off" %>
			</div>

			<div class="search_checkbox_wrap">
				<%= check_box_tag(
					'q[search_both]',
					1,
					false
				) %>
				<%= s.label :description, class: 'disabled' %>
				<%= s.search_field(
					:description_cont,
				 	autocomplete: "off",
				 	disabled: true
				) %>
			</div>

			<%= render 'goods/goodslist/search_select_client', obj: s %>

			<div>
				<%= s.label :manufacturer_filter %>
				<div class="select_wrapper">
					<%= render 'goods/goodslist/search_select_manufacturer', obj: s %>
				</div>
			</div>

			<%= s.hidden_field(:s, value: (params[:q][:s] if params.deep_has_key? :q, :s)) %>

			<%= hidden_field_tag :administrative_mode, @administrative_mode %>

			<%= hidden_field_tag(:preserve_checked, "") if @administrative_mode %>

			<div>

				<%= render 'layouts/action_add_new', pars: [
					:ident,
					:description,
					:ident_or_description,
					:impexpcompany_filter,
					:manufacturer_filter
				] %><!--

				--><%= render 'layouts/action_go_to_administrative_mode' %><!--

				--><%= render 'layouts/action_edit_delete' %><!--

				--><button id="clear_search" class="button">
					<%= t :clear_search %>
				</button><!--

				--><%= s.submit t(:search), class: "button important" %>

			</div>

		<% end %>

	</section>

<% end %>