
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, 
			url: search_goods_path,
			remote: true do |s| %> 

			<div>
				<%= s.label :ident %>
				<%= s.search_field :ident_cont, autocomplete: "off" %>
			</div>

			<div>
				<%= s.label :description %>
				<%= s.search_field :description_cont, autocomplete: "off" %>
			</div>

			<%= render 'goods/goodslist/search_select_client', obj: s %>

			<div>
				<div class="select_wrapper">
					<%= render 'goods/goodslist/search_select_manufacturer', obj: s %>
				</div>
			</div>

			<%= hidden_field_tag :administrative_mode, @administrative_mode %>

			<%= hidden_field_tag(:preserve_checked, "") if @administrative_mode %>

			<div>

				<button id="clear_search" class="button">
					<%= t :clear_search %>
				</button><!--

				--><%= s.submit t(:search), class: "button" %>

			</div>

		<% end %>

	</section>

<% end %>