<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @impexpcompany_manufacturer, url: update_impexpcompany_manufacturer_path(@impexpcompany_manufacturer.id) do |t| %>

		<article class="decorated_wrap shrinked" id="new_taricnum_search">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					local_taric_kncode: {
						autocomplete: false, 
						reset_button: :all,
					},
					local_taric_description: {
						autocomplete: false,
						type: :textarea
					}
				},
				results_obj: @local_tarics,
				cols: [:kncode, :description], 
				cols_highlighted: {
					kncode: :kncode,
					description: :description
				}
			) %>

		</article>

		<article class="decorated_wrap shrinked" id="incoterms">

			<div>
				<div>
					<%= t.label :incoterm %>
					<div class="select_wrapper">
						<%= t.collection_select(:incoterm,
							Incoterm.all,
							:id,
							:shortland, 
							include_blank: false
						) %>
						<span></span>	
					</div>
				</div>
			</div>

		</article>

		<article class="decorated_wrap shrinked">
			<div>

				<%= t.submit %>

				<%= link_to(
					cbt(:back_to_edit),
					edit_manufacturer_path(params[:id]),
					class: "button"
				) %>

				<%= t.button(
					cbt(:back_to_list),
					name: "go_to_index",
					value: "1",
					class: "button"
				) %>

			</div>
		</article>

	<% end %>

</section>