<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= t.fields_for :impexpcompany_manufacturers do |im| %>

			<% if !im.object.id.blank? %>

				<aside class="impexpcompany_manufacturers_details">

					<% im.object.build_local_taric %>

					<%= render('layouts/shared/new_belongs_to_assoc',
						obj: im,
						assoc: :local_taric,
						fields: {
							kncode: {  },
							description: { 
								type: :text_area
							}
						}
					) %>

					<article class="decorated_wrap shrinked">

						<%= render('layouts/elements/input_select',
							obj: im,
							# obj - form (fields_for) builder object
							collection: @incoterms,
							# collection - list with option to choose from
							method_to_get_vals: :id,
							# method_to_get_vals - data, which field from collection list
							# will be used as values
							method_to_get_texts: :shortland,
							# method_to_get_texts - which fields from collection will be used as 
							# titles in dropdown list 
							send_parameters_name: :incoterm_id,
							# send_parameters_name - where to "write" data in destination model
							# name of column in table for which are this fields_for maden 
						) %>

					</article>

					<article class="decorated_wrap shrinked">

						<div>
							<%= im.label :invoices_correct %>

							<%= im.check_box(
								:invoices_correct
							) %>
						</div>

					</article>

				</aside>

			<% end %>

		<% end %>

	<% end %>

</section>