
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @uom_type do |t| %>

		<article class="decorated_wrap shrinked">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					uom_type: {
						required: true,
						autocomplete: false,
						autofocus: true,
						check_existence: true
					},
					full_name: {
						autocomplete: false,
					}, 
					description: {
						autocomplete: false,
					}
				},
			) %>

		</article>

		<article class="decorated_wrap shrinked">
			<div>

				<%= t.submit class: "button" %>

				<%= link_to t(:back), settings_path, class: "button" %>

			</div>
		</article>

	<% end %>

</section>