<%= render 'layouts/base/main_menu' %>

<section class="form">

    <%= form_for @record, @form_url do |t| %>

        <%= new_edit(
            obj: t,
            fields: {
                name: {
                    required: true
                },
                note: {
                    type: :text_area
                },
                season: {
                    type: :date_select
                }
            }
        ) %>

        <%= render 'others/issues/new/files', obj: t %>

        <%= new_edit(
            obj: t
        ) %>

    <% end %>

</section>