<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @good, url: update_good_path do |t| %>

		<article>
			<%= render 'goods/edit/good', obj: t %>
		</article>

		<article>
			<%= render 'goods/edit/local_taric', obj: t %>
		</article>

		<article>
			<%= render 'goods/edit/impexpcompany', obj: t %>
		</article>

		<div>
			<%= t.submit class: "button" %>
		</div>

		<%= t.hidden_field :id %>

	<% end %>

</section>