
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @good do |t| %>

		<article class="decorated_wrap shrinked">

			<div>
				<div>
					<%= t.label :ident %>
					<%= t.text_field :ident %>
				</div>
				<div>
					<%= t.label :description %>
					<%= t.text_area :description %>
				</div>
			</div>

		</article>

		<article class="decorated_wrap shrinked">

			<div>
				<%= t.fields_for :local_taric, @local_taric do |lt| %>
					<div>
						<%= lt.label :kncode %>
						<%= lt.text_field :kncode %>
					</div>
					<div>
						<%= lt.label :description %>
						<%= lt.text_area :description %>
					</div>
				<% end %>
			</div>

			<%= render('/layouts/elements/table_list_radio_buttons',
				obj: @good,
				coll: @local_tarics,
				text_method: [:kncode, :description]
			) %>

		</article>

		
		<article class="decorated_wrap shrinked">
			<div>

				<%= t.submit class: "button" %>

				<%= submit_tag(
					t(:create_and_next),
					name: 'create_and_next',
					class: "button") %>

				<%= link_to t(:back), goods_path, class: "button" %>

			</div>
		</article>

	<% end %>

</section>
