
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @good do |t| %>

		<article class="decorated_wrap">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					ident: {
						required: true,
						autocomplete: false,
						reset_button: :all
					},
					description: {
						required: false,
						autocomplete: false
					}
				},
			) %>

		</article>

		<article class="decorated_wrap" id="new_taricnum_search">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					local_taric_kncode: {
						required: true,
						autocomplete: false, 
						reset_button: :all
					},
					local_taric_description: {
						required: true,
						autocomplete: false
					}
				},
				results_obj: @local_tarics,
				cols: [:kncode, :description]
			) %>

		</article>

		<article class="decorated_wrap" id="new_client_search">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					impexpcompany_company_name: {
						required: true,
						autocomplete: false,
						reset_button: true
					}
				},
				results_obj: @impexpcompanies,
				cols: [:company_name]
			) %>

		</article>

		<article class="decorated_wrap" id="new_manufactuer_search">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					manufacturer_name: {
						required: true,
						autocomplete: false,
						reset_button: true
					}
				},
				results_obj: @manufacturers,
				cols: [:name] 
			) %>

		</article>

		<% @good.uoms.each_with_index do |uom, index| %>

			<article class="new_good_uom decorated_wrap">

				<%= render 'goods/new/uom', obj: uom, index: index %>

			</article>

		<% end %>

		<article class="decorated_wrap shrinked">
			<div>

				<%= t.submit class: "button" %>

				<%= submit_tag(
					cbt(:create_good_and_next),
					name: 'create_and_next',
					class: "button") %>

			</div>
		</article>

	<% end %>

</section>
