
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record, @form_url do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				ident: {
					prefill_from_mem_param: [:ident_or_description_cont, :ident_cont],
					autofocus: true,
					js_check_existence: true
				},
				description: {
					type: :text_area,
					prefill_from_mem_param: [:ident_or_description_cont, :description_cont]
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			assoc: :local_taric,
			fields: {
				kncode: {  },
				description: {
					type: :text_area
				}
			},
			searcher_settings: {
				query: {
					kncode: :start,
					description: :cont
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			assoc: :impexpcompanies,
			fields: {
				company_name: {  }
			},
			searcher_settings: {
				query: {
					company_name: :cont
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			assoc: :manufacturers,
			fields: {
				name: {  }
			},
			searcher_settings: {
				query: {
					name: :cont
				}
			}
		) %>

		<aside>
			<% i = 0 %>
			<%= t.fields_for :uoms, @uom do |u| %>
				<%= render('goods/new/uom',
					obj: u,
					index: i
				) %>
				<% i = i + 1 %>
			<% end %>
		</aside>

		<%= new_edit(obj: t, type: :submit, add_next: true) %>

	<% end %>

</section>
