
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= render('layouts/shared/new_main',
			obj: t,
			fields: {
				ident: {  },
				description: { 
					type: :text_area
				}
			}
		) %>

		<%= render('layouts/shared/new_belongs_to_assoc',
			obj: t,
			assoc: :local_taric,
			fields: {
				kncode: {  },
				description: { 
					type: :text_area
				}
			}
		) %>

		<%= render('layouts/shared/new_has_many_assoc',
			obj: t,
			assoc: :impexpcompanies,
			fields: {
				company_name: {  }
			}
		) %>

		<%= render('layouts/shared/new_has_many_assoc',
			obj: t,
			assoc: :manufacturers,
			fields: {
				name: {  }
			}
		) %>

		<%= render('layouts/shared/new_submit',
			obj: t
		) %>

	<% end %>

</section>
