
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @good do |t| %>

		<article class="decorated_wrap">
			<%= render 'goods/new/good', obj: t %>
		</article>

		<article class="decorated_wrap">
			<%= render 'goods/new/taricnum', obj: t %>
		</article>

		<article class="decorated_wrap">
			<%= render 'goods/new/client', obj: t %>
		</article>

		<article class="decorated_wrap">
			<%= render 'goods/new/manufacturer', obj: t %>
		</article>

		<% @good.uoms.each_with_index do |uom, index| %>

			<article class="new_good_uom decorated_wrap">
				<%= render 'goods/new/uom', obj: uom, index: index %>
			</article>

		<% end %>

		<article class="decorated_wrap shrinked">
			<div>
				<%= t.submit class: "button" %>
			
		
				<%= submit_tag(
					cbt(:create_good_and_next),
					name: 'create_and_next',
					class: "button") %>
			</div>
		</article>

	<% end %>

</section>
