
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @good do |t| %>

		<article>
			<%= render 'goods/new/good', obj: t %>
		</article>

		<article>
			<%= render 'goods/new/taricnum', obj: t %>
		</article>

		<article>
			<%= render 'goods/new/client', obj: t %>
		</article>

		<article>
			<%= render 'goods/new/manufacturer', obj: t %>
		</article>

		<div>
			<%= t.submit class: "button" %>
		</div>

	<% end %>

</section>
