
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @good do |t| %>

		<article class="decorated_wrap">
			<%= render 'goods/new/good', obj: t %>
		</article>

		<article class="decorated_wrap" id="new_taricnum_search">
			<%= render('layouts/new_taricnum_search', 
				obj: t,
				results_table: 'local_taric/api/taricnum_search',
				results_obj: @local_tarics
			) %>
		</article>

		<article class="decorated_wrap" id="new_client_search">
			<%= render('layouts/new_impexpcompany_search', 
				obj: t,
				results_table: 'impexpcompanies/api/client_search',
				results_obj: @impexpcompanies 
			) %>
		</article>

		<article class="decorated_wrap">
			<%= render 'goods/new/manufacturer', obj: t %>

		</article>

		<% @good.uoms.each_with_index do |uom, index| %>

			<article class="new_good_uom decorated_wrap">
				<%= render 'goods/new/uom', obj: uom, index: index %>
			</article>

		<% end %>

		<article class="decorated_wrap shrinked">
			<div>
				<%= t.submit class: "button" %>
			
		
				<%= submit_tag(
					cbt(:create_good_and_next),
					name: 'create_and_next',
					class: "button") %>
			</div>
		</article>

	<% end %>

</section>
