
<%= render(
		layout: 'layouts/shared/search',
		locals: {
			main_fields: { 
				ident: :ident_or_description_cont
			},
			actions: [
				:add,
				:clear_fields,
				:clear_all,
				:administrative,
				:google_search
			]
		}
	) do %>
	

	<div class="search_checkbox_wrap">
		<span>
			<%= check_box_tag(
				'q[search_both]',
				1,
				false
			) %>
		</span>
		<span>
			<%= @s.label :description_cont %>
		</span>
		<span class="searchform_inputfield_wrap">
			<%= @s.search_field(
				:description_cont,
			 	autocomplete: "off",
			 	disabled: true
			) %>
		</span>
	</div>

	<%= render 'goods/shared/search/select_client_dropdown', obj: @s %>

	<div>
		<span>
			<%= @s.label :manufacturer_filter %>
		</span>
		<span>
			<div class="select_wrapper" id="search_items_select_manufacturer">
				<%= render 'goods/shared/search/select_manufacturer_dropdown' %>
			</div>
		</span>
	</div>


<% end %>

