<tr>

	<td>
		<%= radio_button(
			obj_name,
			coll_name,
			obj.send(val_method)
		) %>
	</td>

	<% if label_method.is_a? Array %>
		<% label_method.each do |l| %>
			<td>
				<%= label(
					obj_name,
					coll_name,
					obj.send(l),
					value: obj.id
				) do %>
					<%= items_table_field_decorator(obj.send(l), opts, obj, l) %>
				<% end %>
			</td>
		<% end %>
	<% else %>
		<td> 
			<%= label(
				obj_name,
				coll_name,
				obj.send(val_method),
				value: obj.id
			) do %>
				<%= obj.send(val_method) %>
			<% end %>
		</td>
	<% end %>

</tr>