<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @manufacturer, url: update_manufacturer_path do |t| %>

		<article class="decorated_wrap shrinked">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					name: {
						required: true,
						autocomplete: false
					}
				},
			) %>
			
		</article>

		<article class="decorated_wrap shrinked">

			<%= render('layouts/new_checkboxes_table', 
				title: :associated_to_impexpcompany,
				form_object: t,
				ar_object: @impexpcompanies.order(:company_name),
				result_of_collection: :impexpcompany_ids,
				key: :id,
				name: :company_name 
			) %>
			
		</article>

		<article class="decorated_wrap shrinked">

			<div>
				
				<div>
					<b> <%= cbt :edit_assocs_details %> </b>
				</div>

				<br>

				<div>
					<%= t.label :impexpcompany_filter %>
					<div class="select_wrapper">
						<%= select(
							:edit_impexpcompany_manufacturer,
							:impexpcompany_id,
							@impexpcompanies_associated.collect{ |p| [p.company_name, p.id] }
						) %>
						<span></span>
					</div><!--

					--><%= t.button cbt(:edit_manufacturer_details) , name: "edit_attrs", value: "1", class: "button" %>
				</div>

			</div>

			<div class="form_errors"></div>

		</article>

		<article class="decorated_wrap shrinked">
			<div>

				<%= t.submit %>

				<%= link_to t(:back), manufacturers_path, class: "button" %>

			</div>
		</article>

	<% end %>

</section>