
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= render('layouts/shared/new_main',
			obj: t,
			fields: {
				name: { 
					prefill_from_mem_param: [:name_cont]
				}
			}
		) %>

		<%= render('layouts/shared/new_has_many_assoc',
			obj: t,
			assoc: :impexpcompanies,
			fields: {
				company_name: {  }
			}
		) %>

		<%= render('layouts/shared/new_submit',
			obj: t
		) %>

	<% end %>

</section>