
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @manufacturer do |t| %>

		<article class="decorated_wrap shrinked">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					name: {
						required: true,
						autocomplete: false
					}
				},
			) %>
			
		</article>

		<article class="decorated_wrap shrinked" id="new_client_search">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					impexpcompany_company_name: {
						required: true,
						autocomplete: false
					}
				},
				results_table: 'impexpcompanies/api/client_search',
				results_obj: @impexpcompanies 
			) %>

		</article>

		<article class="decorated_wrap">

			<%= render('layouts/new_select_section', 
				obj: t,
				input_fields: { 
					local_taric_kncode: {
						required: false,
						autocomplete: false
					},
					local_taric_description: {
						required: false,
						autocomplete: false
					}
				},
				results_table: 'local_taric/api/taricnum_search',
				results_obj: @local_tarics
			) %>

		</article>

		<article class="decorated_wrap shrinked">
			<div>
				<%= t.submit %>
			</div>
		</article>

	<% end %>

</section>