
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				name: { 
					prefill_from_mem_param: [:name_cont],
					autofocus: true
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			assoc: :impexpcompanies,
			fields: {
				company_name: {  }
			}
		) %>

		<% if action_name == "edit" %>
			<article class="decorated_wrap shrinked">
				<div>
					<%= t.button(
						t('actions.edit_other'),
						name: "edit_other_details",
						value: "1",
						class: "button"
					) %>
				</div>
			</article>
		<% end %>

		<%= new_edit(
			obj: t
		) %>

	<% end %>

</section>