
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record, @form_url do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				name: {
					prefill_from_mem_param: [:name_cont],
					autofocus: true,
					js_check_existence: true,
					required: true
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			assoc: :impexpcompanies,
			fields: {
				company_name: {  }
			},
			searcher_settings: {
				caption: {

				}
			}
		) %>

		<%= new_edit(
			obj: t,
			fields: {
				note: {
					type: :text_area
				}
			},
			type: :secondary
		) %>

		<article class="decorated_wrap shrinked edit_next <%= "novisible" if @record.impexpcompanies.size == 0 %>">
			<div>
				<%= t.button(
					t('actions.edit_other'),
					name: "edit_other_details",
					value: "1",
					class: "button"
				) %>
			</div>
		</article>

		<%= new_edit(
			obj: t
		) %>

	<% end %>

</section>
