<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_tag(update_details_manufacturer_path, method: "patch") do %>

		<% @details.each do |detail| %>

			<%= fields_for "impexpcompany_manufacturers[#{detail.id}]", detail do |d| %>

				<aside class="impexpcompany_manufacturers_details">

					<article class="decorated_wrap shrinked subsection_caption">
						<table class="for_dialogbox rows_colored">
							<tbody>
								<tr>
									<td class="detail_desc"><%= detail.manufacturer.model_name.human %>:</td>
									<td class="detail_manu"> <%= detail.manufacturer.name %> </td>
								</tr>
								<tr>
									<td class="detail_desc"><%= detail.impexpcompany.model_name.human %>:</td>
									<td class="detail_impexp"> <%= detail.impexpcompany.company_name %> </td>
								</tr>
							</tbody>
						</table>
					</article>

					<br>

					<article class="decorated_wrap shrinked select_incoterm">

						<%= render('layouts/elements/input_select',
							obj: d,
							collection: @incoterms,
							method_to_get_vals: :id,
							method_to_get_texts: :shortland,
							send_parameters_name: :incoterm_id,
							blank_text: "---"
						) %>

					</article>

					<article class="decorated_wrap shrinked select_trade_type">

						<%= render('layouts/elements/input_select',
							obj: d,
							collection: @trade_types,
							method_to_get_vals: :id,
							method_to_get_texts: :type,
							send_parameters_name: :trade_type_id,
							blank_text: "---",
							selected: @trade_types.first
						) %>

					</article>

					<article class="decorated_wrap shrinked invoices_correct">

						<%= render('layouts/elements/yesno_select',
							obj: d,
							field: :invoices_correct
						) %>

					</article>

					<article class="decorated_wrap shrinked select_referent">

						<% impexp_id = d.object.impexpcompany_id %>

						<%= render('layouts/elements/input_select',
							obj: d,
							collection: Impexpcompany.find(impexp_id).people,
							method_to_get_vals: :id,
							method_to_get_texts: :full_name,
							send_parameters_name: :person_id,
							blank_text: "---",
							selected: d.object.person_id
						) %>

					</article>

					<%= new_edit(
						obj: d,
						assoc: :local_taric,
						multiedit: true,
						fields: {
							kncode: {  },
							description: {
								type: :text_area
							}
						},
						searcher_settings: {
							query: {
								kncode: :start,
								description: :cont
							}
						}
					) %>

				</aside>

		    <% end %>

		<% end %>

		<%= new_edit(type: :submit) do %>

			<%= link_to(
				t('impexpcompany_manufacturer.back_to_manufacturer'),
				edit_manufacturer_path(params[:id]),
				class: "button"
			) %>

			<%= link_to(
				t('impexpcompany_manufacturer.back_to_manufacturers'),
				get_path_back,
				class: "button"
			) %>

		<% end %>

	<% end %>

</section>
