<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_tag(update_details_manufacturer_path, method: "patch") do %>
	<%#= form_for @details do |t| %>

		<%# for detail in @details %>
		<% @details.each do |detail| %>

			<%= fields_for "impexpcompany_manufacturers[#{detail.id}]", detail do |d| %>

				<aside class="impexpcompany_manufacturers_details">

					<article class="decorated_wrap shrinked">

						<%= render('layouts/elements/input_select',
							obj: d,
							collection: @incoterms,
							method_to_get_vals: :id,
							method_to_get_texts: :shortland,
							send_parameters_name: :incoterm_id,
							blank_text: "---"
						) %>

					</article>

					<article class="decorated_wrap shrinked">

						<div>
							<%= d.label :invoices_correct %>
							<%= d.check_box :invoices_correct %>
						</div>

					</article>

					<%= new_edit(
						obj: d,
						assoc: :local_taric,
						multiedit: true,
						fields: {
							kncode: {  },
							description: {
								type: :text_area
							}
						}
					) %>

				</aside>

		    <% end %>

		<% end %>

		<%= new_edit(type: :submit) %>

	<% end %>

</section>
