
<section class="decorated_wrap actions <%= 'administrative' if @administrative_mode %>">
	
		<button
		 class="button" 
		 id="select_all_items">

			<%= t(:select_items) %>

		</button>

		<button
		 class="button" 
		 id="deselect_all_items">

			<%= t(:deselect_items) %>

		</button>


	<%#= link_to(
		t(:select_items),
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button"
	) if @administrative_mode %>

	<%#= link_to(
		t(:deselect_items),
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button"
	) if @administrative_mode %>

	<%= link_to(
		t(:delete_items), 
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button danger"
	) %>

	<%= link_to(
		t(:delete_items_all), 
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button danger"
	) %>

	<%= link_to(
		t(:export_visible_items), 
		{
			controller: controller_name,
			action: "csv_export",
			page: params[:page]
		},
		class: "button"
	) %>

	<%= link_to(
		t(:export_all_items), 
		{
			controller: controller_name,
			action: "csv_export"
		},
		class: "button"
	) %>

</section>


