
<section class="wrapper decorated_wrap actions <%= 'administrative' if @administrative_mode %>">
	
		<button
		 class="button" 
		 id="select_all_items">

			<%= t(:select_items) %>

		</button>

		<button
		 class="button" 
		 id="deselect_all_items">

			<%= t(:deselect_items) %>

		</button>


	<%#= link_to(
		t(:select_items),
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button"
	) if @administrative_mode %>

	<%#= link_to(
		t(:deselect_items),
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button"
	) if @administrative_mode %>

	<%= link_to(
		t(:delete_items), 
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button danger"
	) if @administrative_mode %>

	<%= link_to(
		t(:delete_items_all), 
		{
			controller: controller_name,
			action: "administration"
		},
		class: "button danger"
	) if @administrative_mode %>

</section>


