
<% if !@MEM.uomscalc.nil? && !@MEM.uomscalc.blank? %>

	<div class="tablewrap decorated_wrap shrinked">

		<table class="rows_colored with_efects" id="uomscalc_list">

			<caption> 
				<%= t :uomscalc_list_cap %>
			</caption>
			
			<thead>
				<tr>
					<th class="uomscalc_mem_good"> 
						<%= t :uomscalc_list_good %>
					</th>
					<th class="uomscalc_mem_uom">
						<%= t :uomscalc_list_uom %>
					</th>
					<th class="uomscalc_mem_count"> 
						<%= t :uomscalc_list_count %>
					</th>
					<th class="uomscalc_mem_result"> 
						<%= t :uomscalc_list_short %>
					</th>
				</tr>
			</thead>

			<tbody>

				<% @MEM.uomscalc.each do |calc| %>
					<tr>
						<td class="uomscalc_mem_good"> 
							<%= link_to calc[:good_name], good_path(calc[:good_id]) %>
						</td>
						<td class="uomscalc_mem_uom">
							<%= "#{calc[:uom]} #{calc[:uom_type]} / #{calc[:multiplier]} #{t(:pcs)}" %>
						</td>
						<td class="uomscalc_mem_count">
							<%= "#{calc[:count]} #{t(:pieces)}" %>
						</td>
						<td class="uomscalc_mem_result"> 
							<%= "#{calc[:result].to_f.round(4)} #{calc[:uom_type]}" %>
						</td>
						<td class="uomscalc_mem_edit">
							<%= link_to "&#9998;".html_safe, calculator_edit_path(calc[:id]), method: :post, remote: true %>
						</td>
						<td class="uomscalc_mem_delete">
							<%= link_to "&#x2716;".html_safe, calculator_remove_path(calc[:id]), method: :post, remote: :true %>
						</td>
					</tr>
				<% end %>

			</tbody>

			<tfoot>
				<% @MEM.uomscalc_results.each do |k, v| %>
					<tr>
						<td> <%= "#{k}: " %> <strong> <%= "#{v.to_f.round(2)}" %> </strong> </td>
					</tr>
				<% end %>
				<tr>
					<td colspan="10" class="uomscalc_list_cp">
						<button id="clear_uomscalc_list" class="button">
							<%= t :uomscalc_list_clear %>
						</button>
					</td>
				</tr>
			</tfoot>

		</table>

	</div>

<% end %>