<div>

	<div>
		<%= obj.label :local_taric_kncode, class: "required" %>
		<%= obj.text_field :local_taric_kncode, autocomplete: "off" %>
	</div>

	<div>
		<%= obj.label :local_taric_description, class: "required" %>
		<%= obj.text_field :local_taric_description, autocomplete: "off" %>
	</div>

</div>

<div class="tablewrap">
	
	<table id="<%= controller_name.singularize %>_local_taric_kncode_results" class="rows_colored with_efects">

		<thead>
			<tr>
				<th>  </th>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render results_table, items: results_obj %>

		</tbody>

	</table>

</div>

<div class="form_errors">
	<%= obj.errors :local_taric_kncode %>
	<%= obj.errors :local_taric_description %>
</div>