<!DOCTYPE html>
<meta charset="UTF-8">

<html>

	<head>
	  <title>Taric</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
	</head>

	<body
	<%= "class=\"#{@body_class}\"".html_safe if @body_class %>
	<%= "data-controller_name=#{controller_name}" %>
	<%= "data-controller_name_singular=#{controller_name.singularize}" %>
	>

		<%= yield :mainmenu if content_for? :mainmenu %>

		<main>

			<%= yield :search_bar if content_for? :search_bar %>

			<%= yield %>

		</main>

		<%= render 'layouts/base/footer' %>

	</body>


</html>
