<!DOCTYPE html>
<meta charset="UTF-8">

<html>

	<head>
	  <title>Taric</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body
	<%= "class=\"#{@body_class}\"".html_safe if @body_class %>
	>

		<%= yield :mainmenu if content_for? :mainmenu %>

		<main>

			<%= yield :search_bar if content_for? :search_bar %>

			<%= yield %>

		</main>

		<footer>

			<div>
				<%= t(:footer_advertisement) %>
				<%= link_to t(:footer_advertisement_webpage), t(:footer_advertisement_webpage_link) %>
			</div>

			<div>
				<%= t(:footer_advertisement_creator) %>
			</div>
			
		</footer>

	</body>


</html>
