<!DOCTYPE html>
<meta charset="UTF-8">

<html>

	<head>
	  <title>Taric</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<%= yield :mainmenu if content_for? :mainmenu %>

		<%= yield :search_bar if content_for? :search_bar %>

		<%= yield :actions if content_for? :actions %>

		<%= yield %>

		<%= render 'layouts/footer' %>

	</body>


</html>
